/**
* CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    /*margin: 0;*/
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */

*{
    margin:0 0 0;
}
header{
    text-align:left;
    color:white;
    background-color:#134;
    padding:30px 150px;
}
body {
    /*background-color: #CCE0DF;*/
    background-color: beige;
}
body p {
    padding-left: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 125px;
}


li, li a{
    list-style: none;
    background-color: #3EA7D0;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    line-height: 30px;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    color: #1E6E68;
    line-height: 40px;
    text-align: center;
}
h3{
    font-family: 'Ubuntu', sans-serif;
    color: #1E6E68;
    line-height: 30px;
    text-align: center;
}

#navbar{
    width: 100%;
    height: 25px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}

#links{
    padding: 3px 150px;
    color: white;

}

#links a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

#links a:hover{
    text-decoration: underline;
}

#content{
    background: beige;

}
#content img{
    margin: 0 auto;
    display: inherit;
    padding-top: 10px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
/*#assignments ul {
    float:left;
    width: 300px;
}*/

hr{
    margin: 10px 0;
    width: 100%;
    size: 600;
    float: left;
}

/*footer {
    background: #134;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    color:white;
    text-align: center;
    border-top: 3px solid #28545B;
}*/